/*	CS0053 - Technical 3 Source Code for 1T AY 2023-2024

    Program:        Functions - Recursion
    Programmer(s): 
                    Vassili L. Inacay (L)
                    Katryna Lei V. Martin 
    Section:        AN31
    Start Date:     September 28, 2023
    End Date:       October 2, 2023
*/

 /*
    CALCULATOR'S THEME
    #11324D - dark blue
    #DAF5FF - light blue
    #12486B - dark blue green || rgb(18, 72, 107)
    #419197 - aquamarine 	  || rgb(65, 145, 151)
    #78D6C6 - teal 			  || rgb(120, 214, 198)
    #FAF0E4 - beige
    #F5FCCD - yellow
    #800000 - maroon
*/

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.ttf') format('truetype');
}

html { height: 100%; }

/* BODY STYLE */
body {
    background-image:
        linear-gradient(to bottom, #12486B,  #FAF0E4, #78D6C6);
	/*background: #FAF0E4;*/
	font-family: Poppins, Arial;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    padding: 20px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.main {
    font-size: 22px;
    height: 525px;
    position: relative;
}

.footer {
    font-weight: bold;
    height: 5px;
    text-align: center;
}

/* CALCULATOR'S CONTAINER WHERE USER INPUT AND RESULT WILL BE DISPLAYED */
.container {
	background: #FAF0E4;
    border: #11324D inset 20px;
	border-radius: 20px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
    margin: 20px 0;
}

h1 {
    background: linear-gradient(to top right, #F5FCCD, #12486B, #419197, #78D6C6);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
	font-size: 40px;
	font-family: Poppins-Bold;
    margin: 0 0 5px 0;
    padding: 20px;
    line-height: 1.2;
}

p { margin: 0 auto 10px auto; }

input[type="number"]{ 
    width: 80%;
    padding: 8px;
    margin: 5px 5px 5px -5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: Poppins, Arial;
    font-size: 15px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

span { padding: 5px auto; }

#result {  
    font-size: 22px;
    margin: 20px auto;
    font-weight: bold;
    background: #F5FCCD;
    color: #800000;
}

button  {
    border-radius: 20px / 40px;
    width: 50%;
    background-color: #12486B;
    margin: 10px 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Poppins, Arial;
    color: #F5FCCD;
}

button:hover {
	background: #DAF5FF;
	color: #12486B;
}
